:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

#grafico {
    width: 100%;
}

img {
    width: 30%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.content-form {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    font-size: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3% 0px 3% 0px;
    padding: 5%;
}

button {
    padding: 5%;
    color: white;
    background-color: #2858EB;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

button:hover {
    
    background-color: #0835BA;
} 

.check {
    font-size: 40px;
    margin: 3%;
}

.check input[type="checkbox"] {
    width: 90px;   
}

header {
    font-size: 40px;
    text-align: center;
    background-color: white;
    padding: 5% 0px 5% 0px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    padding: 2%;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
}

h5 {
    margin-top: 0px;
}

#selected {
    border-radius: 15px;
    border: 2px solid  #0835BA;
    color: #0835BA;
}

#inicial {
    color: black;
    text-decoration: none;
}

/* Estilo básico para o corpo */
main {
    
}

/* Container do gráfico */
.chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    max-width: 600px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para as barras */
.bar {
    width: 15%;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

/* Efeito de hover nas barras */
.bar:hover {
    background-color: #45a049;
}

.nome {
    margin-top: 3% 5% 3% 5%;
    font-size: 50px;
    margin: 0px 3% 0px 3%;
}

#cliente {
    display: flex;
    justify-content: flex-end;
}

#chat {
    border-radius: 100px;
    width: 80%;
}

#msg {
    height: 50px;
    margin-left: 5%;
    font-size: 60px;
}

.conv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fala-cli {
    color: #ffffff;
    background-color: #e0218a;
    padding: 3%;
    font-size: 40px;
    border-radius: 30px;
    max-width: 60%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 30px;
}

.fala-ia {
    padding: 3%;
    font-size: 30px;
    border-radius: 30px;
    width: 60%;
    margin-right: auto;
    margin-right: 30px;
}

#conversa  {
    margin-top: 5%;
}

#conversa  button {
    font-size: 6rem;
}

video {
    width: 100%;
}

.subvideo {
    color: #2858EB;
    font-size: 50px;
}

.containervi {
    text-align: center;
    margin-top: 20%;
}
.containervi img{
    width: 100%;
}

.hora {
    text-align: center;
    font-size: 30px;
    color: #a29e9d;
}

header p{
    text-align: center;
}

table {
    margin-top: 5%;
    width: 100%;
    font-size: 35px;
    text-align: center;
    padding: 1%;
}

thead {
    background-color: lightblue;
}